# Практика Python

In [1]:
import pandas as pd

### 1. Загрузите в колаб файлы по оценкам (ratings) и фильмам (movies) и создайте на их основе pandas-датафреймы

In [2]:
ratings = pd.read_csv('u.data.csv', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])
ratings.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [3]:
movies = pd.read_csv('u.item.csv', sep='|', encoding='latin-1', names = ['movie_id', 'movie_title', 'release_date', \
                                                                               'video_release_date', 'IMDb_URL', 'unknown',\
                                                                               'Action', 'Adventure', 'Animation', \
                                                                               'Childrens', 'Comedy', 'Crime', \
                                                                               'Documentary', 'Drama', 'Fantasy', \
                                                                               'Film-Noir', 'Horror', 'Musical', 'Mystery',\
                                                                               'Romance', 'Sci-Fi', 'Thriller', 'War', \
                                                                               'Western'])
movies.head()

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### 2. Средствами Pandas, используя dataframe ratings, найдите id пользователя, поставившего больше всего оценок

In [4]:
ratings['user_id'].value_counts(ascending=False)

405    737
655    685
13     636
450    540
276    518
      ...
147     20
19      20
572     20
636     20
895     20
Name: user_id, Length: 943, dtype: int64

In [5]:
rating = ratings.groupby('user_id').count().reset_index()
rating_max = rating.sort_values('item_id', ascending = False).head(1)
rating_max

     user_id  item_id  rating  timestamp
404      405      737     737        737

### 3. Оставьте в датафрейме ratings только те фильмы, который оценил данный пользователь

In [6]:
df = []
df = ratings[ratings['user_id'] == 405].join(movies.set_index('movie_id'), how='inner', on='item_id')
df.head()

,user_id,item_id,rating,timestamp,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
12276,405,56,4,885544911,Pulp Fiction (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Pulp%20Fictio...,0,0,...,0,0,0,0,0,0,0,0,0,0
12383,405,592,1,885548670,True Crime (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?True%20Crime%...,0,0,...,0,0,0,0,1,0,0,1,0,0
12430,405,1582,1,885548670,T-Men (1947),01-Jan-1947,NaN,http://us.imdb.com/M/title-exact?T-Men%20(1947),0,0,...,0,1,0,0,0,0,0,0,0,0
12449,405,171,1,885549544,Delicatessen (1991),01-Jan-1991,NaN,http://us.imdb.com/M/title-exact?Delicatessen%...,0,0,...,0,0,0,0,0,0,1,0,0,0
12460,405,580,1,885547447,"Englishman Who Went Up a Hill, But Came Down a...",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Englishman%20...,0,0,...,0,0,0,0,0,1,0,0,0,0

### 4. Добавьте к датафрейму из задания 3 столбцы:

#### 4.1 По жанрам. Каждый столбец - это жанр. Единицу записываем, если фильм принадлежит данному жанру и 0 - если нет

In [7]:
df['relese_year'] = df.apply(lambda row: int(row['release_date'][-4:]), axis=1)
df

,user_id,item_id,rating,timestamp,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,relese_year
12276,405,56,4,885544911,Pulp Fiction (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Pulp%20Fictio...,0,0,...,0,0,0,0,0,0,0,0,0,1994
12383,405,592,1,885548670,True Crime (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?True%20Crime%...,0,0,...,0,0,0,1,0,0,1,0,0,1995
12430,405,1582,1,885548670,T-Men (1947),01-Jan-1947,NaN,http://us.imdb.com/M/title-exact?T-Men%20(1947),0,0,...,1,0,0,0,0,0,0,0,0,1947
12449,405,171,1,885549544,Delicatessen (1991),01-Jan-1991,NaN,http://us.imdb.com/M/title-exact?Delicatessen%...,0,0,...,0,0,0,0,0,1,0,0,0,1991
12460,405,580,1,885547447,"Englishman Who Went Up a Hill, But Came Down a...",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Englishman%20...,0,0,...,0,0,0,0,1,0,0,0,0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98956,405,375,1,885546835,Showgirls (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Showgirls%20(...,0,0,...,0,0,0,0,0,0,0,0,0,1995
98978,405,445,4,885548435,"Body Snatcher, The (1945)",01-Jan-1945,NaN,http://us.imdb.com/M/title-exact?Body%20Snatch...,0,0,...,0,1,0,0,0,0,0,0,0,1945
99148,405,1246,1,885547735,Bushwhacked (1995),01-Jan-1995,NaN,http://us.imdb.com/Title?Bushwhacked+(1995/I),0,0,...,0,0,0,0,0,0,0,0,0,1995
99465,405,196,1,885546112,Dead Poets Society (1989),01-Jan-1989,NaN,http://us.imdb.com/M/title-exact?Dead%20Poets%...,0,0,...,0,0,0,0,0,0,0,0,0,1989
99756,405,958,1,885549590,To Live (Huozhe) (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Huozhe%20(1994),0,0,...,0,0,0,0,0,0,0,0,0,1994

#### 4.2 Столбцы с общим количеством оценок от всех пользователей на фильм и суммарной оценкой от всех пользователей

In [8]:
rat_cnt = ratings.groupby('item_id').agg('count').loc[:,['rating']]
rat_cnt.rename({'rating': 'rating_cnt'}, axis=1, inplace=True)
rat_sum = ratings.groupby('item_id').agg('sum').loc[:,['rating']]
rat_sum.rename({'rating': 'rating_sum'}, axis=1, inplace=True)
rating_1 = rat_cnt.join(rat_sum, how='inner')
rating_1.reset_index()

      item_id  rating_cnt  rating_sum
0           1         452        1753
1           2         131         420
2           3          90         273
3           4         209         742
4           5          86         284
...       ...         ...         ...
1677     1678           1           1
1678     1679           1           3
1679     1680           1           2
1680     1681           1           3
1681     1682           1           3

[1682 rows x 3 columns]

In [9]:
df = df.join(rating_1, how = 'inner', on='item_id')
df.head()

,user_id,item_id,rating,timestamp,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,relese_year,rating_cnt,rating_sum
12276,405,56,4,885544911,Pulp Fiction (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Pulp%20Fictio...,0,0,...,0,0,0,0,0,0,0,1994,394,1600
12383,405,592,1,885548670,True Crime (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?True%20Crime%...,0,0,...,0,1,0,0,1,0,0,1995,9,30
12430,405,1582,1,885548670,T-Men (1947),01-Jan-1947,NaN,http://us.imdb.com/M/title-exact?T-Men%20(1947),0,0,...,0,0,0,0,0,0,0,1947,1,1
12449,405,171,1,885549544,Delicatessen (1991),01-Jan-1991,NaN,http://us.imdb.com/M/title-exact?Delicatessen%...,0,0,...,0,0,0,1,0,0,0,1991,65,252
12460,405,580,1,885547447,"Englishman Who Went Up a Hill, But Came Down a...",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Englishman%20...,0,0,...,0,0,1,0,0,0,0,1995,32,108

### 5. Сформируйте X_train, X_test, y_train, y_test
### 6. Возьмите модель линейной регрессии (или любую другую для задачи регрессии)  и обучите ее на фильмах

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression

In [11]:
# Сформировать X и y из df, выбрав нужные колонки
X, y = df[['Action', 'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', \
        'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', \
        'relese_year', 'rating_cnt', 'rating_sum']], df[['rating']]

In [12]:
# Разбить данные на данные для обучения и проверки
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [13]:
model = LinearRegression() ### Создать и обучить модель LinearRegression

In [14]:
model.fit(X_train, y_train)
print(model.coef_, model.intercept_)

[[-0.08031148 -0.38944137 -0.22465606  0.40155565  0.14830239 -0.36506205
   0.54257154  0.2042939   0.02830932 -0.46006773  0.22407074  0.56923064
  -0.07271647 -0.18290057 -0.18370277  0.14100698 -0.18211231 -0.31651535
  -0.00966934  0.02029624 -0.00263492]] [20.20328093]

### 7. Оцените качество модели на X_test, y_test при помощи метрик для задачи регрессии

In [15]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [16]:
y_pred = model.predict(X_test)

In [17]:
model.score(X_test, y_test) ### Коэффициент детерменизма

0.1494625200036891

In [18]:
print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))

0.1494625200036891
1.4017715041940664
0.8662564156232558

## Вторая часть практики Python связана со Spark’ом

In [19]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

### 8. Загрузить данные в spark

In [37]:
movies = spark.read.csv('u.item_spark.csv', header=None, inferSchema=True, sep='|')
movies.show(5)

+---+-----------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|_c0|              _c1|        _c2| _c3|                 _c4|_c5|_c6|_c7|_c8|_c9|_c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|
+---+-----------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|  1| Toy Story (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  1|  1|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
|  2| GoldenEye (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  1|  1|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
|  3|Four Rooms (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
|  4|Get Shorty (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  1|  0|  0|  0|   1|   0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
|  5|   Copycat (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   1|   0|   1|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
+---+-----------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 5 rows

In [38]:
movies = movies.toDF('movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown',\
                     'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama',\
                     'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery','Romance', 'Sci-Fi', 'Thriller',\
                     'War', 'Western')
movies.show(5)

+--------+-----------------+------------+------------------+--------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|movie_id|      movie_title|release_date|video_release_date|            IMDb_URL|unknown|Action|Adventure|Animation|Childrens|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|
+--------+-----------------+------------+------------------+--------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|       1| Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|        1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       2| GoldenEye (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        1|        0|        0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       3|Four Rooms (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       4|Get Shorty (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        0|        0|        0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       5|   Copycat (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
+--------+-----------------+------------+------------------+--------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 5 rows

In [31]:
ratings = spark.read.csv('u.data_spark.csv', header=None, inferSchema=True, sep='\t')
ratings.show(5)

+---+---+---+---------+
|_c0|_c1|_c2|      _c3|
+---+---+---+---------+
|196|242|  3|881250949|
|186|302|  3|891717742|
| 22|377|  1|878887116|
|244| 51|  2|880606923|
|166|346|  1|886397596|
+---+---+---+---------+
only showing top 5 rows

In [35]:
ratings = ratings.toDF('user_id', 'item_id', 'rating', 'timestamp')
ratings.show(5)

+-------+-------+------+---------+
|user_id|item_id|rating|timestamp|
+-------+-------+------+---------+
|    196|    242|     3|881250949|
|    186|    302|     3|891717742|
|     22|    377|     1|878887116|
|    244|     51|     2|880606923|
|    166|    346|     1|886397596|
+-------+-------+------+---------+
only showing top 5 rows

### 9. Средствами спарка вывести среднюю оценку для каждого фильма

In [39]:
avg_rat = ratings.groupBy('item_id')
avg_rat = avg_rat.avg('rating').select('item_id', 'avg(rating)')
avg_rat.join(movies, on=avg_rat['item_id'] == movies['movie_id'], how = 'inner').select('movie_title', 'avg(rating)').show()

+--------------------+------------------+
|         movie_title|       avg(rating)|
+--------------------+------------------+
|It's a Wonderful ...| 4.121212121212121|
|Courage Under Fir...|3.6108597285067874|
|Secret of Roan In...| 3.859154929577465|
|Ghost and the Dar...|          3.203125|
|Convent, The (Con...|               2.5|
|  Bulletproof (1996)| 3.204081632653061|
|  Double Team (1997)| 2.230769230769231|
|Duoluo tianshi (1...|3.1666666666666665|
|   Full Speed (1996)|             3.125|
|     Liebelei (1933)|               1.0|
|Butcher Boy, The ...|               4.0|
|Man Without a Fac...|3.5441176470588234|
|Angels in the Out...| 2.923076923076923|
|  Money Train (1995)| 2.511627906976744|
|Amityville: Dollh...|               1.0|
|       Sirens (1994)| 2.983050847457627|
|Jungle2Jungle (1997)|2.4393939393939394|
|Fire Down Below (...|2.9318181818181817|
|Anne Frank Rememb...| 3.857142857142857|
|Truman Show, The ...| 2.909090909090909|
+--------------------+------------------+
only showing top 20 rows

### 10. Посчитайте средствами спарка среднюю оценку для каждого жанра

In [44]:
genre = ratings.join(movies, on=ratings['item_id'] == movies['movie_id'], how = 'inner')
genre.where(genre['Action'] == 1).groupBy('Action').avg('rating').show()
genre.where(genre['Adventure'] == 1).groupBy('Adventure').avg('rating').show()
genre.where(genre['Animation'] == 1).groupBy('Animation').avg('rating').show()
genre.where(genre['Childrens'] == 1).groupBy('Childrens').avg('rating').show()
genre.where(genre['Comedy'] == 1).groupBy('Comedy').avg('rating').show()
genre.where(genre['Crime'] == 1).groupBy('Crime').avg('rating').show()
genre.where(genre['Documentary'] == 1).groupBy('Documentary').avg('rating').show()
genre.where(genre['Drama'] == 1).groupBy('Drama').avg('rating').show()
genre.where(genre['Fantasy'] == 1).groupBy('Fantasy').avg('rating').show()
genre.where(genre['Film-Noir'] == 1).groupBy('Film-Noir').avg('rating').show()
genre.where(genre['Horror'] == 1).groupBy('Horror').avg('rating').show()
genre.where(genre['Musical'] == 1).groupBy('Musical').avg('rating').show()
genre.where(genre['Mystery'] == 1).groupBy('Mystery').avg('rating').show()
genre.where(genre['Romance'] == 1).groupBy('Romance').avg('rating').show()
genre.where(genre['Sci-Fi'] == 1).groupBy('Sci-Fi').avg('rating').show()
genre.where(genre['Thriller'] == 1).groupBy('Thriller').avg('rating').show()
genre.where(genre['War'] == 1).groupBy('War').avg('rating').show()
genre.where(genre['Western'] == 1).groupBy('Western').avg('rating').show()

+------+-----------------+
|Action|      avg(rating)|
+------+-----------------+
|     1|3.480245417953027|
+------+-----------------+

+---------+-----------------+
|Adventure|      avg(rating)|
+---------+-----------------+
|        1|3.503526503308369|
+---------+-----------------+

+---------+------------------+
|Animation|       avg(rating)|
+---------+------------------+
|        1|3.5766990291262135|
+---------+------------------+

+---------+------------------+
|Childrens|       avg(rating)|
+---------+------------------+
|        1|3.3532442216652742|
+---------+------------------+

+------+------------------+
|Comedy|       avg(rating)|
+------+------------------+
|     1|3.3940734781442745|
+------+------------------+

+-----+------------------+
|Crime|       avg(rating)|
+-----+------------------+
|    1|3.6322780881440098|
+-----+------------------+

+-----------+------------------+
|Documentary|       avg(rating)|
+-----------+------------------+
|          1|3.6728232189973613|
+-----------+------------------+

+-----+------------------+
|Drama|       avg(rating)|
+-----+------------------+
|    1|3.6873793708484772|
+-----+------------------+

+-------+------------------+
|Fantasy|       avg(rating)|
+-------+------------------+
|      1|3.2152366863905324|
+-------+------------------+

+---------+------------------+
|Film-Noir|       avg(rating)|
+---------+------------------+
|        1|3.9215233698788228|
+---------+------------------+

+------+------------------+
|Horror|       avg(rating)|
+------+------------------+
|     1|3.2903893172841827|
+------+------------------+

+-------+-----------------+
|Musical|      avg(rating)|
+-------+-----------------+
|      1|3.521396851029471|
+-------+-----------------+

+-------+----------------+
|Mystery|     avg(rating)|
+-------+----------------+
|      1|3.63813155386082|
+-------+----------------+

+-------+-----------------+
|Romance|      avg(rating)|
+-------+-----------------+
|      1|3.621704948358255|
+-------+-----------------+

+------+------------------+
|Sci-Fi|       avg(rating)|
+------+------------------+
|     1|3.5607227022780834|
+------+------------------+

+--------+------------------+
|Thriller|       avg(rating)|
+--------+------------------+
|       1|3.5090069495245064|
+--------+------------------+

+---+-----------------+
|War|      avg(rating)|
+---+-----------------+
|  1|3.815811874866993|
+---+-----------------+

+-------+------------------+
|Western|       avg(rating)|
+-------+------------------+
|      1|3.6132686084142396|
+-------+------------------+

### 11. В спарке получить 2 датафрейма с 5-ю самыми популярными и самыми непопулярными фильмами (по количеству оценок, либо по самой оценке - на Ваш выбор)

In [45]:
genre.groupBy('movie_title').count().sort('count', ascending=False).show(5) ### Популярные

+--------------------+-----+
|         movie_title|count|
+--------------------+-----+
|    Star Wars (1977)|  583|
|      Contact (1997)|  509|
|        Fargo (1996)|  508|
|Return of the Jed...|  507|
|    Liar Liar (1997)|  485|
+--------------------+-----+
only showing top 5 rows

In [46]:
genre.groupBy('movie_title').count().sort('count', ascending=True).show(5)   ### Непопулярные

+--------------------+-----+
|         movie_title|count|
+--------------------+-----+
|    Fear, The (1995)|    1|
|Modern Affair, A ...|    1|
|JLG/JLG - autopor...|    1|
|Vie est belle, La...|    1|
|       Target (1995)|    1|
+--------------------+-----+
only showing top 5 rows